﻿/*header*/
.LogoNeu {
    height: 8vw;
    width: 8vw;
}

.header1 {
    background: linear-gradient(to left, #33ccff 0%, #ccffff 100%);
    height: 8vw;
}

.header1 .left {
    float: left;
    width: 18%;
    height: 100%;
    padding-left: 3.5vw;
}

 .header1 .right {
    float: left;
    width: 82%;
    height: 100%;
}

.top {
    font-size: 2vw;
    font-weight: 600;
    color: #808080;
}

.bot {
    color: #001a66;
    font-size: 1.5vw;
    font-weight: 700;
}

/*Navbar*/
.nava {
    background-color: #ff9900;
    position: relative;
    height: 3vw;
    min-height: 0px;
    margin-bottom: 0px;
}

.nav {
    list-style: none;
    height:100%;
}

.navi {
    padding-right: 2vw;
    padding-left: 1vw;
    border: 1px solid white;
    height: 100%;
    padding-top: 0.4vw;
    font-size: 1.15vw;
    float: left;
}

.icon {
    color: black;
    font-size: 1.3vw;
}

.nav-link {
    color: black;
    font-weight: 600
}

.nav-link:hover {
    text-decoration: none;
    color: white
}

/*Body*/
.body {
    height: 32vw;
}

/*layout: left*/
.body .left {
    width: 15%;
    float: left;
    height: 100%;
    background-color: #ffffcc;
    border-right: 2px solid white
}

.menu-top {
    background-color: aqua;
    height: 3vw;
    border: 1px solid grey;
    padding-top: 0.3vw;
}

.menu-top .fas {
    color: black;
    margin-left: 1.2vw;
    margin-right: 0.5vw;
}

.menu-top .txt {
    font-size: 1.4vw;
    font-weight: 600;
}

.menu {
    border-bottom: 1px solid black;
    height: 2vw;
    padding-left: 0.5vw;
}

/*main: right*/
.body .right {
    width: 85%;
    height:100%;
    background-color: ghostwhite;
    float:left;
}

.main-top {
    background-color: aqua;
    height: 3vw;
    border: 1px solid grey;
    padding-top: 0.3vw;
    font-size: 1.4vw;
    font-weight: 600;
    padding-left: 1vw;
}

.main-top1 {
    border-bottom: 1px solid grey;
    padding-bottom: 0.5vw;
}


/*footer*/
.footer1 {
    background-color: gainsboro;
    text-align: center;
    height: 3vw;
}